<div id="<%= dom_id notice %>">
  <p>
    <strong>Title:</strong>
    <%= notice.title %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= notice.descripcion %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= notice.users_id %>
  </p>

</div>
