<div id="<%= dom_id comment %>">
  <p>
    <strong>Description:</strong>
    <%= comment.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Notice:</strong>
    <%= comment.notice_id %>
  </p>

</div>
